# Entornos virtuales
venv/
.env
.venv/
env/

# Archivos de Python
__pycache__/

*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Archivos de entorno
.env
.venv
env/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Database
*.db
*.sqlite3

# Archivos temporales
*.tmp
*.temp

# Tailwind CSS build files (si usas build process)
tailwindcss.js  # Si es el archivo build, no subirlo
inventariostorage-519d580c7ff9.json
token.json
client_secret_*.json
venv_roto_final